<p id="notice"><%= notice %></p>

<h1>Listing Games</h1>

<table>

  <tbody>
    <% @games.each do |game| %>

		<%= content_tag :tr, class: cycle('list_line_odd','list_line_even') do %>
 		 	<td>
 		   <%= image_tag(game.box_art_url, class: 'list_image') %>
			</td>

				<td class='list_specifications'>
					<dl>
						<dt><%= game.platform %></dt>
						<dd>
							<%= game.year %>
							<%= game.developer %>
						</dd>
					</dl>
				</td>

				<td class='list_description'>
					<dl>
						<dt><%= game.title %></dt>
						<dd>
							<%= truncate strip_tags(game.description), length: 240 %>
						</dd>
					</dl>
				</td>
        <td class='list_actions'>
					<%= link_to 'Show', game %><br/>
					<%= link_to 'Edit', edit_game_path(game) %><br/>
					<%= link_to 'Destroy', game, method: :delete, 
							data: { confirm: 'Are you sure?' } %>
				</td>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>


